.review-container {
  margin: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}
.review-container p {
  font-size: 1.2rem;
}
.review-container h1,
.review-container h2,
.review-container h4 {
  color: var(--blue);
  text-transform: capitalize;
}
.review-container span {
  font-size: 0.9rem;
}

.review-seperator {
  margin: 1rem 0;
  align-self: center;
  width: 80%;
  height: 1px;
  background: var(--dark);
}

.review-details {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  background: var(--gray700);
  color: var(--gray200);
  margin: 1rem 0;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 10px var(--gray600);
}
.review-details-content {
  order: 2;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem;
}
.review-details-title {
  margin-bottom: 1rem;
}
.review-details-title h1 {
  color: var(--gray100);
}
.review-details-image-container {
  order: 3;
  grid-column: 1;
  grid-row: 1;
}
.review-details-image {
  height: 100%;
  max-height: 30rem;
  width: 100%;
  border-radius: 20px;
}

.review-raitings {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  background: var(--gray100);
  color: var(--gray800);
  margin: 3rem 0;
  padding: 2rem 1rem 2rem 0;
  border-radius: 20px;
  box-shadow: 0 0 10px var(--gray600);
}

.review-raiting-ranking {
  width: 50%;
  text-transform: capitalize;
}
.review-raiting-ranking-table {
  color: var(--dominant);
  text-align: center;
  background: var(--light-pink-seethrough);
}
.review-raiting-ranking-table tr {
  font-size: 1rem;
  cursor: pointer;
}
.review-raiting-ranking-table tr:hover {
  background: var(--light-pink);
  color: var(--light);
}

.review-raitings-description {
  min-width: 75%;
  padding: 0 1rem;
  border-left: solid 4px var(--gray400);
}

.review-raiting-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.review-raiting-card {
  margin: 0 0.5rem 1rem 0.5rem;
  height: 4rem;
  width: 7rem;
}
.review-raiting-card-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.review-raiting-card-inner h4,
.review-raiting-card-inner h1 {
  margin: 0;
}

.review-raiting-card-inner h4 {
  color: var(--dominant);
}

.hidden-seperator {
  display: none;
}

.dark-chip {
  color: var(--gray200) !important;
  border-color: var(--gray200) !important;
}

@media only screen and (max-width: 1280px) {
  .review-details {
    display: flex;
    flex-direction: column;
  }
  .review-details-image-container {
    order: 1;
  }

  .review-raitings-description {
    border: none;
    padding: 1rem 0;
  }

  .hidden-seperator {
    display: inline;
  }

  .review-raitings {
    display: flex;
    flex-direction: column;
  }

  .review-raiting-ranking {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
}
