.review-container {
  margin: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  p {
    font-size: 1.2rem;
  }
  h1,
  h3 {
    text-transform: capitalize;
    margin: 0 0 0.5rem;
  }
}
// details area
.review-details {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  background: var(--gray700);
  color: var(--gray400);
  margin: 1rem 0;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: var(--shadow500);
}
.review-details-content {
  order: 2;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem;
  line-height: 1.8;
}
.review-details-title {
  margin-bottom: 1rem;
  h1 {
    color: var(--gray100);
  }
}
.review-details-title-raiting {
  display: flex;
  align-items: center;
}
.review-details-description {
  h3 {
    color: var(--gray200);
  }
}
.review-details-image-container {
  order: 3;
  grid-column: 1;
  grid-row: 1;
}
.review-details-image {
  height: 100%;
  max-height: 30rem;
  width: 100%;
  border-radius: 20px;
}

// raitings area
.review-raitings {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  background: var(--gray100);
  color: var(--gray800);
  margin: 3rem 0;
  padding: 2rem 1rem 2rem 0;
  border-radius: 20px;
  box-shadow: var(--shadow500);
}
.review-raiting-ranking {
  width: 50%;
  text-transform: capitalize;
}
.review-raiting-ranking-table {
  color: var(--dominant);
  text-align: center;
  background: var(--light-pink-seethrough);
  tr {
    font-size: 1rem;
    cursor: pointer;
    &:hover {
      background: var(--light-pink);
      color: var(--light);
    }
  }
}
.review-raitings-description {
  min-width: 75%;
  padding: 0 1rem;
  border-left: solid 4px var(--gray400);
  line-height: 1.8;
  h3 {
    color: var(--gray800);
  }
  p {
    color: var(--gray700);
  }
}

.review-raiting-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.review-raiting-card {
  margin: 0 0.5rem 1rem 0.5rem;
  height: 4rem;
  width: 7rem;
}
.review-raiting-card-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  h1 {
    margin: 0;
  }
  h4 {
    color: var(--dominant);
    margin: 0;
  }
  div {
    span {
      font-size: 0.9rem;
    }
  }
}
