.review-container {
  margin: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}
.review-container p {
  font-size: 1.2rem;
}
.review-container h1 {
  color: var(--dominant);
}
.review-container span {
  font-size: 0.9rem;
}

.review-seperator {
  margin: 1rem 0;
  align-self: center;
  width: 80%;
  height: 1px;
  background: var(--dark);
}

.review-details {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
}
.review-details-content {
  order: 2;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem;
}
.review-details-title {
  margin-bottom: 1rem;
}
.review-details-description {
}
.review-details-image-container {
  order: 3;
  grid-column: 1;
  grid-row: 1;
}
.review-details-image {
  height: 100%;
  max-height: 40rem;
  width: 100%;
}

.review-raitings {
  margin: 1rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
}

.review-raiting-ranking {
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  text-transform: capitalize;
}
.review-raiting-ranking-table {
  /* border: solid 3px var(--dominant); */
  color: var(--dominant);
  text-align: center;
  background: var(--light-pink-seethrough);
}
.review-raiting-ranking-table tr {
  font-size: 1rem;
  cursor: pointer;
}
.review-raiting-ranking-table tr:hover {
  background: var(--light-pink);
  color: var(--light);
}

.review-raitings-description {
  margin: 0 1rem;
  grid-column: 2;
  grid-row: 1;
}
.review-raitings-description h1 {
  text-transform: capitalize;
}

.review-raiting-card-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.review-raiting-card {
  border: solid 3px var(--pink);
  border-radius: 2rem;
  margin: 0.5rem;
  height: 8rem;
  width: 7rem;
  cursor: pointer;
}
.review-raiting-card-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.review-raiting-card-inner h4,
.review-raiting-card-inner h1 {
  margin: 0;
}

@media only screen and (max-width: 1280px) {
  .review-details {
    display: flex;
    flex-direction: column;
  }
  .review-details-image-container {
    order: 1;
  }

  .review-raitings {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
}
