@import url("https://fonts.googleapis.com/css?family=Arima+Madurai:300");

.header-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 3rem;
}

.header-title {
  text-align: center;
}

.nav-title {
  margin-bottom: 0;
  font-weight: 900;
  a {
    color: var(--dominant);
    font-family: freight-sans-pro, sans-serif;
    font-weight: 900;
    letter-spacing: 0.2px;
  }
  img {
    height: 8rem;
    margin-bottom: 0.2rem;
  }
}

.nav-title-quote {
  font-size: 1rem;
  font-style: italic;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
  li {
    margin: 0.2rem;
  }
  a {
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--light-pink);
  }
}
