:root {
  --blue: #c3e4fd;
  --green: #b5ba7e;
  --light-pink: #f4afb3;
  --light-pink-seethrough: rgba(244, 175, 178, 0.349);
  --pink: #e18d96;
  --red: #a02c2d;

  --dark: black;
  --light: white;

  --dominant: var(--pink);
  --accent: var(--red);

  --background-main: var(--light);
  --background-alt: var(--blue);
}
