:root {
  --blue: #9fd3fb;
  --green: #b5ba7e;
  --light-pink: #f4afb3;
  --light-pink-seethrough: rgba(244, 175, 178, 0.349);
  --pink: #da5966;
  --red: #9b090c;

  --dark: black;
  --light: white;

  --dominant: var(--pink);
  --accent: var(--red);

  --background-main: var(--light);
  --background-alt: var(--blue);
}
