.MuiRating-iconEmpty {
  color: var(--gray500) !important;
}

.dark-chip {
  color: var(--gray700) !important;
  border-color: var(--gray700) !important;
  cursor: pointer !important;
}
.light-chip {
  color: var(--gray200) !important;
  border-color: var(--gray200) !important;
}
