@media only screen and (max-width: 1280px) {
  // generics.scss
  .layout-container {
    grid-template-columns: 2% 96% 2%;
  }

  header {
    min-height: 7rem;
  }

  footer {
    margin-top: 4rem;
    height: 12rem;
  }
  .footer-container {
    width: 70%;
  }

  .filter-button {
    margin: 1rem;
    font-size: 1rem;
  }
  .anime-banner {
    flex-direction: column;
    width: 90%;
  }
  .search-container {
    align-self: center;
    width: 90%;
  }

  // animes.scss
  .review-details {
    display: flex;
    flex-direction: column;
  }
  .review-details-image-container {
    order: 1;
  }

  .review-raitings-description {
    border: none;
    padding: 1rem;
  }

  .hidden-seperator {
    display: inline;
  }

  .review-raitings {
    display: flex;
    flex-direction: column;
  }

  .review-raiting-ranking {
    width: 100%;
  }
}

@media only screen and (max-width: 864px) {
  .layout-container {
    grid-template-columns: 100%;
  }

  main {
    grid-column: 1;
    padding: 0;
  }
  footer {
    grid-column: 1;
  }

  .review-container {
    margin: 0rem;
  }
  .review-details {
    padding: 2rem;
    margin: 0;
    border-radius: 0;
  }
  .review-details-title {
    h1 {
      text-align: center;
    }
  }
  .review-raitings {
    margin: 0;
    border-radius: 0;
    padding: 2rem;
  }
  .anime-preview {
    width: 100%;
    margin: 0;
  }
  .anime-contents-inner {
    width: 100%;
    margin: 0.5rem 0;
    padding: 1rem;
  }

  .footer-copyright {
    span {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 768px) {
  .nav-title-quote {
    display: none;
  }

  .anime-container {
    justify-content: space-evenly;
  }
  .anime-contents-container {
    flex-direction: column;
    margin: 0;
  }
}
